

body{
	background:white;
}



.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    background-color: gainsboro;
   
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: white;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 370px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

.button{
    border: none;
   
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:5px ;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008cba;
}



.cards_wrap .card_item .role_name{
	color: gray;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 30px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: gray;
	font-size: 20px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}